<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealer details</title>
</head>
<body>
<h1>Dealer: {{ object.title }}</h1>
<div>
    <p>Email: {{ object.email }}</p>
    <p>City: {{ object.city.name }}, {{ object.city.country.name }}</p>
    <p>Cars:</p>
    <ul>
        <table style="border-spacing: 120px 2px">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>City</th>
            <th>Status</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.model.brand.name }}</td>
            <td>{{ car.model.name }}</td>
            <td>{{ car.price }}</td>
            <td>{{ car.dealer.city }}</td>
            <td>{{ car.status }}</td>
            <td>{{ car.first_registration_date }}</td>
            <td><a href="{% url 'cars:car_detail' car.slug %}">See details...</a></td>
        </tr>
        {% empty %}
        <li>Sorry, there's no car yet. Come here later :)</li>
        {% endfor %}
</div>
</body>
</html>
