<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<nav class="navbar navbar-expand-xl navbar-light bg-dark">
  <a class="navbar-brand" href="/" style="color: gold"><h1>Car Dealer</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cars:car_list' %}" style="color: white"><h3>Cars</h3><span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dealers:dealer_list' %}" style="color: white"><h3>Dealers</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'orders:order_list' %}" style="color: white"><h3>Orders</h3></a>
      </li>
      {% endif %}
    </ul>
  <span class="user">
    <ul class="nav justify-content-end">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" style="color: gold"><h3> {{ user }}</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}" style="color: red"><h3>Logout </h3></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" style="color: orange"><h3>You're not logged in</h3></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/users/login/" style="color: dodgerblue"><h3>Login</h3></a>
      </li>
      {% endif %}
    </ul>
  </span>
  </div>
</nav>