<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
{% include "navbar.html" %}
<div align="center">
    <h1>Login</h1>
<form method="post">
    {% csrf_token %}
    <h5>{{ form.as_p }}</h5>
    <button type="submit" class="btn btn-primary">Login</button>
    <p class="text-center"><h5>Don't have an account? You can <a href="/users/register">register</a> now.</h5></p>
    <a href="/" ><h3>Go to the main page...</h3></a>
</form>
</div>
{% include "footer.html" %}
</body>
</html>