<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order details</title>
</head>
<body>
{% include "navbar.html" %}
<div class="card" align="center" >
<div class="card-body" align="center">
<h2 class="card-title" align="center">Order: {{ object.id }}</h2>
<h6 class="card-subtitle mb-2 text-muted">Status: {{ object.status }}</h6>
    <h1 class="card-text" style="color: darkslateblue" align="center">{{ object.first_name }} {{ object.last_name }}</h1>

    <h4 class="card-text">Car: {{ object.car.model.brand.name }} {{ object.car.model.name }}</h4>
<div class="card-footer text-center">
    <p>Message:</p>
    <p>{{ object.message }}</p>
</div>
<hr>
<div>
  <a class="text-lg-left">Email: {{ object.email }}</a>
    <hr>
  <a class="text-lg-right">Phone: {{ object.phone }}</a>
</div>
</div>
</div>
{% include "footer.html" %}
</body>
</html>
