<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.model.brand.name}} {{ object.model.name }}</title>
</head>

{% include "navbar.html" %}
<div align="center">

    <table class="table" align="center">
        <thead align="center" class="thead-light col-form-label-lg">
            <tr>
                <th>Dealer</th>
                <th>Dealer's email</th>
                <th>City</th>
                <th>Price</th>
                <th>Status</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody align="center">
        <tr>
            <td>{{ object.dealer.title }}</td>
            <td>{{ object.dealer.email }}</td>
            <td>{{ object.dealer.city }}, {{ object.dealer.city.country.name }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.status }}</td>
            <td>{{ object.first_registration_date }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div align="center">
    <h1>Car: {{ object.model.brand.name }} {{ object.model.name }}</h1>
    <table class="table table-sm" align="center">
        <thead align="center">
        <tr>
            <th>Brand:</th>
            <th>Model:</th>
            <th>Color:</th>
            <th>Property:</th>
            <th>Number:</th>
            <th>Pollutant Class:</th>
            <th>Engine Type:</th>
            <th>Engine Power:</th>
            <th>Capacity:</th>
            <th>Gear Case:</th>
            <th>Fuel Type:</th>
            <th>Doors: </th>
            <th>Sitting Place: </th>
        </tr>
        </thead>
        <tbody align="center">
        <tr>
            <td>{{ object.model.brand.name }}</td>
            <td>{{ object.model.name }}</td>
            <td>{{ object.color.name }}</td>
            <td>{{ object.property.name }}</td>
            <td>{{ object.number }}</td>
            <td>{{ object.pollutant_class }}</td>
            <td>{{ object.engine_type }}</td>
            <td>{{ object.engine_power }}</td>
            <td>{{ object.capacity }}</td>
            <td>{{ object.gear_case }}</td>
            <td>{{ object.fuel.fuel_type }}</td>
            <td>{{ object.doors }}</td>
            <td>{{ object.sitting_place }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div align="center">
    <h2>Picture: </h2>
    <img src="{{ object.picture.url }}" style="width: 800px" alt="bmw x6 red">
</div>
{% include "footer.html" %}
</body>
</html>
